.btn-head-search {
  font-size: 17px;
  padding: 10px 32px;
  height: 50px;
  border: 2px solid #3eb0f7;
  background: transparent;
  transition: all 0.4s;
  color: #3eb0f7;
  border-radius: 100px;
}

.btn-head-search:hover{
  border: 2px solid #3eb0f7;
  background: #3eb0f7;
  color: white;
}

.privacy a {
  text-decoration: none;
  color: #3EB0F7;
  font-weight: 300;
}

#search-start, #search-destination {
  border-radius: 0;
  border: solid 1px #3eb0f7;
  background-color: #fff;
  color: #333;
  height: 55px;

} 
